<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sample Document</h1>
    <form action="./red">
      <input type="submit" value="red " />
    </form>
    <form action="./green">
      <input type="submit" value="green" />
    </form>
    <form action="./blue">
      <input type="submit" value="blue" />
    </form>
    <form action="./off">
      <input type="submit" value="off" />
    </form>
    <p>Temperature is {value} degrees Celsius</p>
  </body>
</html>
